section.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.modal #dialog {
    position: relative;
    background-color: #FFF;
    margin: auto;
    padding: 1.5em 2em;
    background-color: rgb(255, 239, 226);
}

.modal .dialog-container {
    margin: 30vh auto;
    width: 850px;
    text-align: center;
    border: 5px solid rgb(75,181,67);
    border-radius: 0.8em;
    overflow: hidden;
    box-shadow: 0px 0px 15px 3px #000000;
}

.modal .dialog-container .title {
    font-size: 2em;
}

.modal .dialog-container .info {
    font-size: 1.2em;
}

.modal .dialog-container .buttons {
    display: flex;
    justify-content: space-evenly;
}

.modal .dialog-container .buttons a {
    flex-basis: 20%;
    font-size: 1.2em;
}