@import url("./game-page-modal.css");

#board-page {
    display: flex;
    justify-content: center;
}

#board-page>div {
    flex-basis: 28rem;
}

#side-menu {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 18px;
}

#board-id {
    margin: 100px;
}

#board-id.waiting-opponent {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

#board-id.waiting-opponent img {
    width: 150px;
    height: auto;
}

#board-id.waiting-opponent .spinner-wrapper {
    margin: 3em 0;
}

#board-id.waiting-opponent .spinner-message {
    font-size: 1.8em;
}

.site-main #board-page .waiting-opponent button {
    width: 40%;
    font-size: 1.2em;
    margin-top: 0;
}

canvas {
    box-shadow: 0px 0px 15px 1px #000000;
}

#chat-form {
    width: 100%;
    display: flex;
    height: 40px;
    border-radius: 10px;
    background: rgb(241, 206, 165);
    position: relative;
}

#chat-menu {
    border-radius: 10px;
    background: rgb(241, 206, 165);
    padding: 10px;
}

#chat-message {
    width: 100%;
    border: 0;
    border-radius: 10px;
    background: rgb(231, 178, 117);
    padding: 10px;
    font-size: 1em;
}

#chat-message::placeholder {
    opacity: 0.7;
}

#chat-button {
    padding: 0;
    border-radius: 0 10px 10px 0;
    position: absolute;
    right: 0;
    height: 100%;
    margin-top: 0;
    width: 17%;
    font-size: 1em;
}

#chat-area {
    width: 100%;
    height: 250px;
    resize: none;
    border: none;
    background: rgb(241, 206, 165);
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
}

#timer-wrap {
    display: flex;
    border: solid black;
    border-color: black;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);

}


.clock-wrap {
    width: 100%;
    height: 220px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.name-box {
    font-size: 30px;
}

#two-point {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.player-digits {
    border-radius: 10px;
    width: 100px;
    height: 60px;
    font-size: 30px;
    background: rgba(81, 75, 75, 1);
    color: white;
    font-family: 'Supermercado One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}


.active {
    background-color: green;
}

.timer-start-btn {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.avatar {
    width: 50px;
    height: 50px;
}