.site-header {
    background-color: rgb(207, 115, 35);
    padding-bottom: 0.5em;
    color: #FFF;
}

.site-header .wrapper {
    display: flex;
    align-items: center;
}

.site-header a {
    color: #FFF;
}

.site-header .site-branding a {
    display: block;
    text-align: center;
}

.site-header .site-branding .site-title {
    font-size: 2.8em;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
    letter-spacing: 5px;
}

.site-header .site-branding .site-subtitle {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 0.4em;
}

.site-nav {
    margin-left: auto;
}

.site-nav ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.4em;
}

.site-nav ul.logged {
    grid-template-columns: repeat(2, 1fr);
}

.site-nav li {
    list-style: none outside;
    text-transform: uppercase;
}

.site-nav li a {
    padding: 0.8em;
    border: 1px solid rgb(207, 115, 35);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    min-width: 80px;
    font-size: 14px;
    font-weight: 500;
    transition: border 0.1s ease-in;
}

.site-nav li a i.fas {
    font-weight: 900;
    font-size: 1.4em;
    margin-bottom: 0.1em;
    margin-right: 0.4em;
}

.site-nav li a:hover {
    border: 1px solid #FFF;
}