@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather:400,400i,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Fira Sans";
}

.site-title,
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather";
}

/* body {
    width: 980px;
    margin: auto;
} */

.r {
    width: 400px;
    float: left;
}

.r::after {
    content: "";
    display: table;
    clear: both;
}

.c {
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
}

.p {
    vertical-align: middle;
    font-size: 50px;
    line-height: 50px;
    cursor: pointer;
}

.p:hover {
    background-color: rgba(0, 206, 17, 0.5);
}

.b {
    background-color: black;
    color: white;
}

.w {
    background-color: white;
    color: black;
}

.selected {
    background-color: rgba(0, 206, 17, 0.25);
}

a {
    text-decoration: none;
    color: #000;
}

.wrapper {
    max-width: 70rem;
    margin: 0 auto;
}

.site-header {
    background-color: rgb(207, 115, 35);
    padding-bottom: 0.5em;
    color: #FFF;
}

.site-header .wrapper {
    display: flex;
    align-items: center;
}

.site-header a {
    color: #FFF;
}

.site-header .site-branding a {
    display: block;
    text-align: center;
}

.site-header .site-branding .site-title {
    font-size: 2.6em;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
    letter-spacing: 5px;
}

.site-header .site-branding .site-subtitle {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 0.4em;
}

.site-nav {
    margin-left: auto;
}

.site-nav ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5em;
}

.site-nav li {
    list-style: none outside;
    text-transform: uppercase;
}

.site-nav li a {
    padding: 0.8em 1em;
    border: 1px solid rgb(207, 115, 35);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    min-width: 80px;
    font-size: 14px;
    font-weight: 500;
}

.site-nav li a i.fas {
    font-weight: 900;
    font-size: 1.4em;
    margin-bottom: 0.1em;
    margin-right: 0.4em;
}

.site-nav li a:hover {
    border: 1px solid #FFF;
}

.site-footer {
    background-color: rgb(207, 115, 35);
    color: #FFF;
    width: 100%;
}

.site-footer .wrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.site-footer section {
    padding: 1.2em 0;
}

.site-footer header {
    padding-left: 4.5em;
    margin-bottom: 0.8em;
}

.site-footer .about-team {
    flex-basis: 50%;
}

.site-footer h5 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.4em;
}

.site-footer ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.site-footer li {
    list-style: none outside;
    flex-basis: 50%;
}

.site-footer li a {
    color: #FFF;
}

.site-footer li a:hover {
    text-decoration: underline;
}

.site-footer .rights-reserved {
    opacity: 0.7;
    text-align: center;
}

.site-footer .rights-reserved>p {
    padding-bottom: 0;
}

.entry-content {
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0.1), rgba(253, 229, 198, 0.4)), url('../static/chess-background.jpg');
    background-position: center center;
    background-size: cover;
}

.entry-content .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-content p.entry-header {
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
    font-size: 4.6em;
    text-align: center;
    color: #FFF;
    padding: 1.2em 0.3em 0.6em 0.3em;
    font-style: italic;
    letter-spacing: 2px;
}

.entry-content a {
    padding: 0.8em 1em;
    border: 1px solid rgb(207, 115, 35);
    border-radius: 0.4em;
    background-color: rgb(207, 115, 35);
    color: #FFF;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9em;
    margin-bottom: 3.2em;
    transition: transform 0.2s ease-in;
}

.entry-content a i.fas {
    font-weight: 900;
    font-size: 1.4em;
    margin-right: 0.4em;
}

.entry-content a:hover {
    border: 1px solid #FFF;
    transform: scale(1.2);
}

.site-main .wrapper header>h2 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.site-main .wrapper header>h2::before,
.site-main .wrapper header>h2::after {
    display: block;
    content: '';
    flex-grow: 1;
    height: 2px;
    background-color: #000;
    opacity: 0.5;
}

.site-main .wrapper header>h2::before {
    margin-right: 1em;
}

.site-main .wrapper header>h2::after {
    margin-left: 1em;
}

.site-main .chess-rules {
    padding: 2em 0;
    background-color: rgb(255, 239, 226);
}

.site-main .chess-rules p:not(:last-child) {
    padding-bottom: 1.2em;
}